Host Certificate Validation

### Expected behavior

net::ssh should be able to connect to servers that present a host certificate.

### Actual behavior

When connecting to a server that presents a host certificate, net::ssh fails with the following error:

```
host key algorithm mismatch for signature 'ssh-rsa' != 'ssh-rsa-cert-v01@openssh.com'
```

The problem lies how how the signature in the key exchange reply is parsed by net::ssh. For example, here is a `SSH_MSG_KEXDH_REPLY` message between a OpenSSH client and OpenSSH server. The OpenSSH server is using host certificates (you can see this in the `KEX DH host key` line).

```
Frame 13: 1534 bytes on wire (12272 bits), 1534 bytes captured (12272 bits)
Ethernet II, Src: Microsof_00:00:00 (00:00:00:00:00:00), Dst: 00:00:00:00:00:00
Internet Protocol Version 4, Src: 1.2.3.4, Dst: 5.6.7.8
Transmission Control Protocol, Src Port: 22, Dst Port: 50438
SSH Protocol
    SSH Version 2
        Packet Length: 1364
        Padding Length: 11
        Key Exchange
            Message Code: Diffie-Hellman Key Exchange Reply (31)
            KEX DH host key (type: ssh-rsa-cert-v01@openssh.com)
                Host key length: 1036
                Host key type: ssh-rsa-cert-v01@openssh.com
                Host key data: 00000020c7418fdd102ffe6ee665340ca5c5bac04baa6699...
            Multi Precision Integer Length: 32
            DH server f: 2a749c1d552147f029c424a1ba434258c967db57d2cca039...
            KEX DH H signature length: 271
            KEX DH H signature: 000000077373682d727361000001000aeeb916a3d5c2ddcf...
            Padding String: 0000000000000000000000
    SSH Version 2
        Packet Length: 12
        Padding Length: 10
        Key Exchange
            Message Code: New Keys (21)
            Padding String: 00000000000000000000
```

Here is a hexdump of the `KEX DH H signature` field:

```
0220  00 04 4e 6f 64 65 00 00 00 00 00 00 01 17 00 00   ..Node..........
0230  00 07 73 73 68 2d 72 73 61 00 00 00 03 01 00 01   ..ssh-rsa.......
0240  00 00 01 01 00 a9 f8 46 a2 3f a8 29 61 33 4c b7   .......F.?.)a3L.
```

Note where where it says, `ssh-rsa` that's the format of the keypair being used in the host certificate. When net::ssh parses this, it expects the host key type `ssh-rsa-cert-v01@openssh.com` not the host key format. This is why it fails with the above error in `send_kexinit` on [Line 162](https://github.com/net-ssh/net-ssh/blob/v4.2.0/lib/net/ssh/transport/kex/diffie_hellman_group1_sha1.rb#L137-L170):

```
160        sig_buffer = Net::SSH::Buffer.new(buffer.read_string)
161        sig_type = sig_buffer.read_string
162        if sig_type != algorithms.host_key
163          raise Net::SSH::Exception,
164            "host key algorithm mismatch for signature " +
165            "'#{sig_type}' != '#{algorithms.host_key}'"
166        end
167        result[:server_sig] = sig_buffer.read_string
```

The format of the signature is covered in in more detail in [Section 6.6 of RFC4253](https://tools.ietf.org/html/rfc4253#section-6.6).


### System configuration

- net-ssh 4.2.0
- Ruby 2.3.1p112 (2016-04-26)

### Example App

First create a SSH host certificate.

```bash
#!/bin/bash

# Generate Host CA.
ssh-keygen -N "" -f host_ca

# Generate Host Certificate.
ssh-keygen -N "" -t rsa -b 2048 -f node.example.com
ssh-keygen -N "" -s host_ca -I key_id -h -n node.example.com -V +52w node.example.com-cert.pub
```

Place the generated key and certificate in `/etc/ssh` and update `/etc/ssh/sshd_config` with the following:

```
HostKey /etc/ssh/node.example.com
HostCertificate /etc/ssh/node.example.com-cert.pub
HostKeyAlgorithms ssh-rsa-cert-v01@openssh.com
```

Run the following Ruby program:

```
require "net/ssh"

options = {
  :host_key => "ssh-rsa-cert-v01@openssh.com",
  :verbose => :debug,
}

Net::SSH.start("node.example.com", "russjones", options) do |ssh|
  result = ssh.exec!("date")
end
```

@russjones Thanks for the detailed bugreport:

> `ssh-keygen -N "" -s host_ca -I key_id -h -n node.example.com -V +52w node.example.com-cert.pub`

I assume the correct command is `node.example.com.pub` vs `node.example.com-cert.pub`:

`ssh-keygen -N "" -s host_ca -I key_id -h -n node.example.com -V +52w node.example.com.pub`

I could reproduce the issue, i'm thinging about the proper fix, thanks!

@mfazekas Yes, that was a typo on my part, you are correct about the `ssh-keygen` syntax.